# Dependencies
node_modules/
Frontend/node_modules/
Backend/node_modules/
frontend/node_modules/
backend/node_modules/

# Environment files
.env
.env.*
*.env
Frontend/.env
Backend/.env
frontend/.env
backend/.env

# Build outputs
dist/
Frontend/dist/
frontend/dist/

# OS and Editor
.DS_Store
.vscode/
.idea/